/*公共*/
.width{width:1160px;margin:0 auto;}
.public{width:901px;margin: 0 auto;}
.left{float: left;}
.right{float: right;}
.clear:after{content: ""; height:0; overflow:hidden; clear:both}
.clear{zoom:1;}

/*头部*/
.head{width:100%;min-width: 1200px;height: 60px;background:rgba(0,0,0,0.3);line-height: 60px;position: fixed;top: 0;z-index: 2;}
.head .width img{width:190px;height:30px;float: left;margin:15px 0;}
.head ul{float: right;list-style: none;}
.head ul li{float: left;width:85px;text-align: center;}
.head ul li:hover{background: #f60;}
.head ul li a{display:block;width:85px;height:60px;text-decoration: none;color:#fff;font-size: 14px;font-weight: bold;}

/*轮播样式*/
.banner{width:100%;overflow: hidden;}
.banner .banner_img{height:542px;position: relative;}
.banner .banner_img img{width:100%;}
.banner .banner_img .banner_pos{position: absolute;left: 0;top:0;width: 100%;height: 542px;background: rgba(0,0,0,0.5) 0 0 fixed;}
.banner .banner_img .banner_pos .center{
	width: 550px;
	height: 350px;
	margin:210px auto 0;
	overflow: hidden;
}
.banner .banner_img .banner_pos .center h3{
	line-height: 40px;
	text-align: center;
	font-size: 38px;
	font-weight: bold;
	color:#fff;
}
.banner .banner_img .banner_pos .center h6{
	font-size: 7px;
	color:#BCBAB7;
	line-height: 5px;
	text-align: center;
}
.banner .banner_img .banner_pos .center h4{
	font-size: 46px;
	color:#E97520;
	line-height: 40px;
	font-weight: bold;
	margin:10px 10px 20px 5px;
	width: 230px;
	float: left;
}
.banner .banner_img .banner_pos .center .change{
	width:200px;
	color:#E97520;
	font-size: 16px;
	line-height: 20px;
	float: left;
	text-align: left;
	margin-top: 10px;
	font-weight: bold;
}
.banner .banner_img .banner_pos .center .no{
	margin-top: 0;
}
.banner .banner_img .banner_pos .center span{
	width: 75px;
	display: block;
	text-align: center;
	font-size: 90px;
	color:#E97520;
	float: left;
}
.banner .banner_img .banner_pos .center h5{
	color:#DBD0C7;
	font-size: 22px;
	text-align: center;
	height: 40px;
}
.banner .banner_img .banner_pos .center .end{
	color:#9E9EA0;
	text-align: center;
	font-size: 14px;
}
.banner .banner_img .banner_pos .center h3 a{
	padding-bottom: 28px;
	border-bottom: 2px solid #FF722E;
}
.banner .banner_img .banner_pos ul{
	width: 150px;
	margin: 100px auto 0;
}
.banner .banner_img .banner_pos ul li{float:left;background:#939393;margin-right:10px;width:39px;height: 9px;cursor: pointer;}
.banner .banner_img .banner_pos ul li.active{background: #ddd;}

/*内容*/
.content{
	overflow: hidden;
	border-bottom: 1px solid #F3F3F3;
}
.content h3{
	color:#E37A3D;
	margin:30px 0 50px 60px;
	text-indent: 30px;
	background: url(../img/house.png) left center no-repeat;
}
.content h2{
	font-size: 22px;
	color:#000;
	font-weight: bold;
	text-align: center;
	margin-bottom: 50px;
}
.content .us{
	width: 900px;
	margin:0 auto;
}
.content .left{
	width: 340px;
	float: left;
	margin-right: 70px;
}
.content .left p{
	font-size: 13px;
	color:#696969;
	line-height: 20px;
}
.content .left span{
	margin-right: 25px;
	font-size: 12px;
	line-height: 20px;
}
.content .left p.b{
	margin-bottom: 30px;
}
.content .line{
	display: block;
	width: 1px;
	height: 300px;
	background: #F5F5F5;
	float: left;
	margin-top: 35px;
}
.content .right{
	width: 420px;
	float: left;
	margin-left: 68px;
}
.content .right p{
	line-height: 20px;
}
.content .right input[type="text"]{
	border: 1px solid #CBCBCB;
	width: 217px;
	height: 25px;
}
.content .right textarea{
	width: 408px;
	height: 110px;
	resize: none;
	border: 1px solid #CBCBCB;
}
.content .right input[type="submit"]{
	width: 125px;
	height: 30px;
	background: #EB6100;
	color: #FEF8F4;
	font-size: 14px;
	margin: 15px 0 50px 0;
	cursor: pointer;
}
.content .map{
	margin-bottom: 30px;
}
/*分享*/
.bottom{
	overflow: hidden;
	background: #F7F6F7;
	margin-top: 1px;
}
.bottom .public div{
	float: left;
}
.bottom .left{
	width: 230px;
	margin-top: 40px;
	padding-right: 50px;
	border-right: 1px solid #E9E9E9;
}
.bottom .left p{
	line-height: 25px;
	color:#6E6E6E;
}
.bottom .center{
	width: 260px;
	margin-left: 60px;
	margin-top: 40px;
	padding-bottom: 40px;
}
.bottom .center span{
	display: block;
	width: 90px;
	float: left;
	margin-top: 20px;
}
.bottom .center ul{
	float: left;
	border-right: 1px solid #E9E9E9;
	padding: 20px 0;
}
.bottom .center ul li{
	float: left;
	margin-right: 20px;
}
.bottom .right{
	width: 100px;
	float: right;
	width: 270px;
}
.bottom .right img{
	display: block;
	width: 84px;
	height: 84px;
	margin: 40px auto 0;
}
/*底部*/
footer{width:100%;height:50px;background: #363636;padding:20px 0;box-shadow: 2px 2px 4px #1C1C1C;}
footer p{text-align: center;line-height: 25px;}