.content .box_right input[type="password"]{
	display: block;
	width: 250px;
	height: 40px;
	border: 1px solid #CECECE;
	border-radius: 5px;
	text-indent: 10px;
}
.content .box_right .old_password{
	height: 90px;
}
.content .box_right .old_password input{
	background: url(../img/eye_pwd.png) 220px center no-repeat;
}
.content .box_right .old_password span{
	display: block;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	color:#B1B1B1;
	text-indent: 30px;
	background: url(../img/warning.png) 5px center no-repeat;
}